<template>
  <v-hover>
    <template>
    <v-container>
      <h2 class="text-center">Latest Post</h2>
      <v-row v-if="pagination.totalElements > 0">
        <v-col
            v-for="item in displayedItems"
            :key="item.id" cols="12"
            md="4"
        >
          <v-card outlined class="mx-auto">
            <v-img
              class="white--text align-end"
              height="200px"
              :src="item.src"
            >
              <v-card-title>
                {{ item.title }} {{item.id}}
              </v-card-title>
            </v-img>
            <v-card-subtitle class="pb-0">{{ item.subtitle }}</v-card-subtitle>
            <v-card-text class="text--primary">
              <div>{{ item.description }}</div>
            </v-card-text>
            <v-card-actions>
              <v-btn color="primary" to="/Resume" text><router-link to="/Resume">{{item.btn}} </router-link></v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <pagination :size="pagination.pageSize"
                      :page="pagination.currentPage"
                      :pageCount="pagination.pageCount"
                      @emitFunction="emitFunction"
                      @emitFunctionSize="emitFunctionSize" />
        </v-col>
      </v-row>
    </v-container>
    </template>
  </v-hover>

</template>

<script>
import Pagination from "@/components/Pagination";
export default {
  name: "LatestPost",
  components: {Pagination},
  data: () => ({
    show: false,
    pagination: {
      pageSize: 3,
      pageCount: 0,
      totalElements: 0,
      currentPage: 1
    },
    displayedItems: [],
    items: [
      {
        id: 1,
        title: "Top western road trips",
        subtitle: "1,000 miles of wonder",
        description: "",
        src: require("../assets/images/img10.jpg"),
        btn:"Frontend"

      },
      {
        id: 2,
        title: "Christmas tales to read",
        subtitle: "2,000 miles of wonder",
        description: "",
        src: require("../assets/images/img11.jpg"),
        btn:"Flutter"
      },
      {
        id: 3,
        title: "20 movies not to miss in 2020",
        subtitle: "3,000 miles of wonder",
        description: "",
        src: require("../assets/images/img12.jpg"),
        btn:"Backend developer"

      },
      {
        id: 4,
        title: "Top western road trips",
        subtitle: "1,000 miles of wonder",
        description: "",
        src: require("../assets/images/img10.jpg"),
        btn:"Frontend"

      },
      {
        id: 5,
        title: "Christmas tales to read",
        subtitle: "2,000 miles of wonder",
        description: "",
        src: require("../assets/images/img11.jpg"),
        btn:"Flutter"
      },
      {
        id: 6,
        title: "20 movies not to miss in 2020",
        subtitle: "3,000 miles of wonder",
        description: "",
        src: require("../assets/images/img12.jpg"),
        btn:"Backend developer"

      },
      {
        id: 7,
        title: "Top western road trips",
        subtitle: "1,000 miles of wonder",
        description: "",
        src: require("../assets/images/img10.jpg"),
        btn:"Frontend"

      },
      {
        id: 8,
        title: "Christmas tales to read",
        subtitle: "2,000 miles of wonder",
        description: "",
        src: require("../assets/images/img11.jpg"),
        btn:"Flutter"
      },
      {
        id: 9,
        title: "20 movies not to miss in 2020",
        subtitle: "3,000 miles of wonder",
        description: "",
        src: require("../assets/images/img12.jpg"),
        btn:"Backend developer"

      }
    ]
  }),
  methods: {
    transactionPaginationOperation() {
      this.pagination.totalElements = this.items.length;
      this.pagination.pageCount = Math.ceil(this.pagination.totalElements / this.pagination.pageSize);
      this.emitFunction(1);
    },
    emitFunction(pageObject) {
      this.pagination.currentPage = pageObject;
      let start = (this.pagination.currentPage - 1) * this.pagination.pageSize;

      let end = start + this.pagination.pageSize;
      this.displayedItems = this.items.slice(start, end)
    },
    emitFunctionSize(size) {
      this.pagination.pageSize = size;
      this.transactionPaginationOperation()
    },
  },
  created() {
    this.transactionPaginationOperation();
  }
};
</script>