<template>
<div>
    <v-toolbar dense
    style="position: fixed; top: 0; width: 100% "
    >
    </v-toolbar>
</div>
</template>
<script>
export default {
  data(){
    return{
      lists: [

      ],
      drawer:true

    }
  },
  name: "Navbar"
}
</script>

<style scoped>
.icon{
  transition: 0.4s;
  margin-right: 40px;
}

.list:hover .icon{
  margin-right: 10px;
}
.home{
  background-color: black;
  color: white;
  transition: 0.5s;
}
.home:hover{
  list-style: none;
  text-decoration: none;
  background-color: white;
  border-radius: 2px;
  color: black;
}
.delete-icon{
  font-size: 25px;
  top: 0px;right: 4px;
  position: absolute;
  transition: 0.2s;
}
.delete-icon:hover{
  font-size: 30px;
  cursor: pointer;
}
</style>































<!--<v-navigation-drawer app right :style="drawer ? 'width:200px' : 'width:100px'"   class="session">-->
<!--<v-app-bar-nav-icon  @click="drawer = !drawer" >-->
<!--</v-app-bar-nav-icon>-->
<!--<router-link-->
<!--    :to="list.link"-->
<!--    v-for="list in lists"-->
<!--    :key="list.title"-->
<!--    class="bg-white"-->
<!--&gt;-->
<!--  <v-list dense class="list py-0" >-->
<!--    <v-list-item-->
<!--    >-->
<!--      <v-list-item>-->

<!--        &lt;!&ndash;                @click="drawer = false"&ndash;&gt;-->

<!--        <v-list-item-content>-->
<!--          <v-list-item-->
<!--              class="pl-5 ml-1">{{ list.title }}</v-list-item>-->
<!--        </v-list-item-content>-->
<!--      </v-list-item>-->
<!--    </v-list-item>-->
<!--  </v-list>-->
<!--</router-link>-->

<!--</v-navigation-drawer>-->

