<template>
    <div class="pagination-line-wrapper">
        <div class="pagination-select-size" v-if="pageSizeCont">
            <div class="nd_fore pagination-select">
                <select class="form-control nd_pad" v-model="allPageSize" @change="paginateSize">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <span class="nd_cop_svg">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6"
                                                     viewBox="0 0 10 6"><g><g
                                                        opacity=".5"><path fill="none" stroke="#364e65"
                                                                           stroke-linecap="round"
                                                                           stroke-miterlimit="50" stroke-width="1.5"
                                                                           d="M1 1.5v0l4 3.052v0L9 1.5v0"/></g></g></svg>
                                            </span>
            </div>
        </div>
        <paginate
                v-model="pageLocal"
                :page-count="pageCount"
                :page-range="3"
                :margin-pages="2"
                :click-handler="paginateData"
                :prev-text="arrowPrev"
                :prev-class="'page-item'"
                :prev-link-class="'page-link'"
                :next-text="arrowNext"
                :next-class="'page-item'"
                :next-link-class="'page-link'"
                :container-class="'pagination'"
                :page-class="'page-item'"
                :page-link-class="'page-link'">
        </paginate>
    </div>
</template>

<script>
    export default {
        name: "Pagination",
        data() {
            return {
                pageLocal: this.page,
                allPageSize: this.size,
                arrowPrev: "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"10\" height=\"10.78\"\n" +
                    "\t\t\t\t\t\t\t\t\t\t viewBox=\"0 0 10 10.78\">\n" +
                    "\t\t\t\t\t\t\t\t\t\t<g transform=\"translate(1 1.414)\">\n" +
                    "\t\t\t\t\t\t\t\t\t\t\t<line x1=\"8\" transform=\"translate(0 4)\" fill=\"none\" stroke=\"#d5dce8\"\n" +
                    "\t\t\t\t\t\t\t\t\t\t\t\t  stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"2\"/>\n" +
                    "\t\t\t\t\t\t\t\t\t\t\t<path d=\"M8.976,12.952,5,8.976,8.976,5\" transform=\"translate(-4.952 -5)\"\n" +
                    "\t\t\t\t\t\t\t\t\t\t\t\t  fill=\"none\" stroke=\"#d5dce8\" stroke-linecap=\"round\"\n" +
                    "\t\t\t\t\t\t\t\t\t\t\t\t  stroke-linejoin=\"round\" stroke-width=\"2\"/>\n" +
                    "\t\t\t\t\t\t\t\t\t\t</g>\n" +
                    "\t\t\t\t\t\t\t\t\t</svg>",
                arrowNext:
                    "\t\t\t\t\t\t\t\t\t<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"10\" height=\"10.78\"\n" +
                    "\t\t\t\t\t\t\t\t\t\t viewBox=\"0 0 10 10.78\">\n" +
                    "\t\t\t\t\t\t\t\t\t\t<g transform=\"translate(1 1.414)\">\n" +
                    "\t\t\t\t\t\t\t\t\t\t\t<line x2=\"8\" transform=\"translate(0 4)\" fill=\"none\" stroke=\"#d5dce8\"\n" +
                    "\t\t\t\t\t\t\t\t\t\t\t\t  stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"2\"/>\n" +
                    "\t\t\t\t\t\t\t\t\t\t\t<path d=\"M5,12.952,8.976,8.976,5,5\" transform=\"translate(-1.024 -5)\"\n" +
                    "\t\t\t\t\t\t\t\t\t\t\t\t  fill=\"none\" stroke=\"#d5dce8\" stroke-linecap=\"round\"\n" +
                    "\t\t\t\t\t\t\t\t\t\t\t\t  stroke-linejoin=\"round\" stroke-width=\"2\"/>\n" +
                    "\t\t\t\t\t\t\t\t\t\t</g>\n" +
                    "\t\t\t\t\t\t\t\t\t</svg>",
            }
        },
        props: {
            page: Number,
            pageCount: Number,
            name: String,
            size: Number,
            pageSizeCont: {
                default: true,
                type: Boolean
            }
        },
        methods: {
            paginateData(page) {
                this.pageLocal = page;
                this.$emit('emitFunction', page);
            },
            paginateSize() {
                this.paginateData(1);
                this.$emit('emitFunctionSize', parseInt(this.allPageSize));
            },

            animateScrollToTop() {
                window.scroll({
                    top: 0,
                    left: 0,
                    behavior: 'smooth'
                });
            },
        },
        watch: {
          'page': function (val) {
              this.pageLocal = val;
          }
        },
        created() {

        }
    }
</script>
<style>
.pagination {
  display: flex;
  list-style: none;
}
.pagination .page-item {
  margin: 0 10px !important;
}
</style>

<style scoped>

    .pagination-line-wrapper {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .pagination-select-size {
        position: absolute;
        right: 0;
    }

    .pagination-select {
        margin-right: 0;
    }

    .pagination-select .form-control {
        padding: 6px 7px 6px 7px;
    }

    .pagination-select .nd_pad {
        padding-right: 13px;
        height: 38px;
    }

    .pagination-select .nd_cop_svg {
        width: 25px;
        height: 36px;
    }

    .pagination-select .nd_cop_svg > svg {
        margin: 15px 7px !important;
    }

</style>
