<template>
  <v-container>
    <v-app-bar flat class="mainHeader"  elevation="5" >
      <v-toolbar-title>Temur</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-xs-only">
        <v-btn text><router-link to="/">Home</router-link></v-btn>
        <v-btn text><router-link to="/about">About</router-link></v-btn>
        <v-btn text><router-link to="/contact">Contact</router-link></v-btn>
      </v-toolbar-items>
      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
              color="grey"
              dark
              v-bind="attrs"
              v-on="on"
          >
            Singe up
          </v-btn>
        </template>

        <v-list
            v-for="(item, index) in items"
            :key="index">
          <router-link :to="item.link">

          <v-list-item

          >
            <v-btn icon >
            <v-list-item-title>{{ item.title }}

            </v-list-item-title>
            </v-btn>
          </v-list-item>
          </router-link>

        </v-list>
      </v-menu>
      <div class="hidden-sm-and-up">
        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-app-bar-nav-icon v-on="on"></v-app-bar-nav-icon>
          </template>

          <v-list class="responsiveMenu">

          </v-list>

        </v-menu>
      </div>
    </v-app-bar>
  </v-container>
</template>

<script>
export default {
  name: "Header",
  data: () => ({
    items: [
      { title: 'Personal', link: "" },
      { title: 'Account', link: ""},
      { title: 'Help', link: "" },
      { title: 'Log out',link:"/logout" },
    ],
  })
};
</script>